/* Main */
.avenues-section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}

/* Background video */
.avenue-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.avenues-wrapper {
  position: relative;
  z-index: 2;
  padding: 4rem 2rem;
  color: white;
  text-align: center;
  background-color: transparent;
}

.avenues-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #f81900;
}

.avenue-cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.avenue-card-link {
  text-decoration: none;
}

.avenue-card-new {
  position: relative;
  width: 190px;
  height: 254px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  overflow: visible;
  text-align: center;
  transition: transform 0.3s ease;
  background-color: transparent; 
}

.avenue-card-new::before,
.avenue-card-new::after {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 12px;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center;
  opacity: 0; 
}

.avenue-card-new::before {
  width: 200px;
  height: 264px;
  background: linear-gradient(-45deg, #e600ff 0%, #40c9ff 100%);
  z-index: -10;
  transform: rotate(0deg) scaleX(1) scaleY(1);
}

.avenue-card-new::after {
  background: linear-gradient(-45deg, #000000 0%, #ee0606 100%);
  transform: scale(0.95);
  filter: blur(0);
  z-index: -1;
}

/* Hover effects */
.avenue-card-new:hover {
  transform: translateY(-8px);
}

.avenue-card-new:hover::after {
  opacity: 1;
  filter: blur(30px);
}

/* Image */
.avenue-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: transparent;
  margin-bottom: 1rem;
}


