.connect-container {
  width: 100%;
  background: #ffffff;
  color: #111;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.6s ease-in-out, color 0.6s ease-in-out;
  margin-bottom: -222px;
}

.connect-heading {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4rem;
  font-family: "Poppins", sans-serif;
  color: #242424;
  letter-spacing: 1px;
  margin-top: -86px;
}

.connect-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  width: 100%;
}

/* Left image nd icons */
.connect-image-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: -380px;
}

.connect-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-image {
  width: 140%;
  max-width: 500px;
  border-radius: 20px;
  transition: transform 0.4s ease;
  background: none;
  box-shadow: none;
}

.connect-image:hover {
  transform: scale(1.03);
}

/* Socials */
.social-icons.under-image {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.social-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.social-btn:hover {
  transform: scale(1.15);
}

.social-icon {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

/* Right text */
.connect-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.connect-description {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 3rem;
  max-width: 550px;
  color: #333;
}

/* Lanyards */
.lanyard-wrapper {
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
}

/* Responsive */
@media (max-width: 900px) {
  .connect-content {
    flex-direction: column;
  }

  .connect-image-section {
    margin-top: -200px;
  }

  .connect-description {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .lanyard-wrapper {
    height: 350px;
  }

  .social-icon {
    width: 38px;
    height: 38px;
  }
}
