/* Main container for Club Service page */
.club-service-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 80px; 
}

/* Hero section with LightRays */
.clubservice-hero-section {
  position: relative;
  width: 100%;
  height: 50vh; 
  overflow: hidden;
}

/* LightRays */
.clubservice-title-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  z-index: 4;
  text-align: center;
  pointer-events: none;
}

/* Projects gallery */
.clubservice-gallery-section {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #141b22;
  
}


@media screen and (max-width: 768px) {
  .clubservice-title-overlay {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 480px) {
  .clubservice-title-overlay {
    font-size: 1.8rem;
  }
}
