.digital-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 80px; 
}

/* video section */
.digital-hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.digital-hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.digital-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 1;
}

.digital-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}
.avenue-subName{
    text-transform: uppercase;
}

/* Projects Section */
.digital-projects-section {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  background-color: #f9f9f9;
}
